<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <!-- Historical M6.0b one-way proof seam. -->
        <receiver
            android:name=".debug.DebugSendRequestReceiver"
            android:exported="true" />

        <!-- Debug-only correlated gateway/alarm physical-proof seam. -->
        <receiver
            android:name=".debug.DebugCompanionGatewayReceiver"
            android:exported="true" />
    </application>
</manifest>
